<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <h1><%= title %></h1>
    
    <% for(let lead of leads){ %>
      <p id="<%= lead.id %>">
        <span><%= lead.email %></span>
        <a href="/lead/<%= lead.id %>"> Details </a>
        <button onclick="deleteLead('<%= lead.id %>')">Delete</button>
      </p>
    <% } %>
 
    <a id="home_link" href="/">Return Home</a>

    <script src="/javascripts/leads.js"></script>
  </body>
</html>
