<!DOCTYPE html>
<html>
  <head>
    <title>Lead</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <%- include('../layout/navigation.ejs') %>
    
    <h1>Lead</h1>
    <div class="container mx-auto">
      <table class="table-auto">
        <thead>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Actions</th>
        </thead>
        <tbody>
          <tr id="<%= lead.id %>">
            <td class="border px-4 py-2">
              <span><%= lead.email %></span>
            </td>
            <td class="border px-4 py-2">
              <a href="/lead/<%= lead.id %>/edit">Edit</a>
            </td>
            <td class="border px-4 py-2">
              <form action="/lead/<%= lead.id %>/delete" method="POST">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>  
      <a href="/leads">Back</a>
    </div>

  </body>
</html>
