<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../layout/navigation.ejs') %>

    <h1><%= title %></h1>
    <div class="mx-auto w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/lead/<%= lead.id %>/edit" method="POST">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="email"
            name="lead_email"
            id="email"
            placeholder="Email address"
            value="<%= lead.email %>"
          />
        </div>
        <div class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
          <button type="submit">Save</button>
        </div>
      </form>
    </div>
  </body>
</html>
